# Print

In [3]:
#print a string
print("Welcome to the python world")
#new line
print("This line learn to you, how to make a new line.\nA new line make with slash with n")

Welcome to the python world
This line learn to you, how to make a new line.
A new line make with slash with n

# Variable
#-- A variable must start with letter or underscore
#-- A variable does not start with number
#-- Variable can only hold alpa-numaric letter and underscore

In [4]:
#Assign Variable 
x = 55
y = 'string'
z= 55.43

In [8]:
#print x
x

55

In [10]:
#Case Sensitive
#It show an error, Because of we don't define any X (Capitale Letter) NameError: name 'X' is not defined
X

In [12]:
#Useing Key word will throw an error SyntaxError: invalid syntax
try = 1

In [15]:
#If you want to know more keywords. Keywors module will help you to know abour keywors
import keyword
print(keyword.kwlist)
print('Number of Keyword: ',len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Number of Keyword:  33

In [17]:
#You can't use any special charecter. The error will be accur, SyntaxError: invalid syntax
2@ = 35

In [18]:
#you can check type with type() function
type(x)

int

In [21]:
#some assign technique in python
a = b = c = 3
d,e,f = 7,9,5
print(a,b,c)
print(d,e,f)

3 3 3
7 9 5

# Numeric Operations

In [26]:
#Assign variable
a = 20
b = 7
print(a + b) #Addition
print(a - b) #Subtraction
print(a * b) #multiplication
print(a / b) #division
print(a // b)#floor or ceiling
print(a % b) #Reaminder
print(a**b)  #a to Power b

27
13
140
2.857142857142857
2
6
1280000000

In [27]:
#Difference technique to add and subtract
a += 3
b -= 2
print(a,b)

23 5

In [28]:
import math
#this module contain lots of function to handle the mathematics operatio

# Logical operations

In [30]:
a = 12
b = 22
print(a < b)
print(a > b)
print(a==b)
print(a!=b)

True
False
False
True

# if elif else conditon

In [32]:
#Take input
a = int(input('Enter any code'))
if(a < 40):
    print('{} is less than 40'.format(a))

Enter any code34
34 is less than 40

In [34]:
a = int(input('Enter any code '))
if(a < 30):
    print('{} is less than 30'.format(a))
else:
    print('{} is greater than 30'.format(a))

Enter any code20
20 is less than 30

In [35]:
a = int(input('Enter any code '))
if(a < 30):
    print('{} is less than 30'.format(a))
elif(a == 30):
    print('{} is equel to 30'.format(a))
else:
    print('{} is greater than 30'.format(a))

Enter any code 30
30 is equel to 30

# Loop

In [36]:
for x in range(5):
    print(x)

0
1
2
3
4

In [39]:
for x in range(10,15):
    print(x)

10
11
12
13
14

In [40]:
for x in range(0,10,2):
    print(x)

0
2
4
6
8

In [41]:
message = "Hello this world of python"
for n,alphabet in enumerate(message):
    print(n,alphabet)

0 H
1 e
2 l
3 l
4 o
5
6 t
7 h
8 i
9 s
10
11 w
12 o
13 r
14 l
15 d
16
17 o
18 f
19
20 p
21 y
22 t
23 h
24 o
25 n

In [45]:
i = 0
while i < 10:
    if(i%2 == 0):
        print('{} is Even'.format(i))
    else:
        print('{} is Odd'.format(i))
    i+=1

0 is Even
1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd

# Create Function

In [47]:
#Create
def hello():
    print('Say hello to python')
#call def or define function
hello()

Say hello to python

In [48]:
#Create a function
def checkEven(a):
    if a%2 == 0:
        print('Even')
    else:
        print('Not Even')
#Call the function
checkEven(int(input('Check Even')))

12
True

In [50]:
def subtraction(x,y):
    z = x - y
    return z
result = subtraction(10,5)
print("The result is {}".format(result))

The result is 5

In [52]:
hello()
Number = checkEven(int(input('Check Even: ')))
print("The result is {}".format(subtraction(10,5)))

Say hello to python
Check Even: 36
True
The result is 5

In [53]:
Name = 'Abu Nayem'
split_Name = lambda x: x.split()
print(split_Name(Name))

['Abu', 'Nayem']

In [59]:
a = b = c = 5
addition = lambda x,y: x+y
print('a + b: {}'.format(addition(a,b)))
subtraction = lambda y,z: y-z
print('b - c: {}'.format(subtraction(b,c)))

a + b: 10
b - c: 0

# String

In [90]:
small = "THIS IS PYTHON WORLD"
upper = "this is python worls"
print(small.lower().capitalize())
print(upper.upper())

This is python world
THIS IS PYTHON WORLS

In [69]:
formating_sentence = '  There is space in the sentence      '
print(formating_sentence)
print(formating_sentence.rstrip())
print(formating_sentence.lstrip())
print(formating_sentence.rstrip().lstrip())
#To check the differece between sentence select the both line with cursor

  There is space in the sentence
  There is space in the sentence
There is space in the sentence
There is space in the sentence

In [76]:
sentence = 'Do you like to play with code'
print(sentence[1])
print(sentence[3:])
print(sentence[3:6])
print(sentence[:11])

o
you like to play with code
you
Do you like

In [88]:
number = '0123456789876543210'
print(number[:-2])
print(number[8:-2])
print(number[0::2]) #Even Number
print(number[1::2]) #Odd Number

01234567898765432
898765432
0246886420
135797531

In [94]:
height = 6.5
sentence = 'My height is '+ str(height) +' feets'
print(sentence)

I am 6.5 feets

In [95]:
age = 23
sentence = 'I am {} years old'.format(age)
print(sentence)

I am 23 years old

In [97]:
a = 12
b = 45
c = 6
result = a * b + c
sentence = '{} * {} + {} make {}'.format(a,b,c,result)
print(sentence)

12 * 45 + 6 make 546

In [100]:
sentence = '{1} and {2} equele to {0}'.format(result,a,b)
print(sentence)

12 and 45 equele to 546

# List

In [101]:
#Defien List
a = []
type(a)

list

In [102]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [112]:
print(a[0])
print(a[1:])
print(a[1:3])
print(a[0:3:2])

1
[2, 3, 4, 5]
[2, 3]
[1, 3]

In [117]:
b = ['Python', "Numpy", 23,'ML',3.675]
print('Before: {}'.format(b))

b.append('26')
print('After: {}'.format(b))

b.pop()
print('After Pop: {}'.format(b))

b.pop(1)
print('After pop with index {}'. format(b))

Before: ['Python', 'Numpy', 23, 'ML', 3.675]
After: ['Python', 'Numpy', 23, 'ML', 3.675, '26']
After Pop: ['Python', 'Numpy', 23, 'ML', 3.675]
After pop with index ['Python', 23, 'ML', 3.675]

In [127]:
#Assign
print(b)
new_list = b
print(id(new_list),id(b)) #Both Id are same. I got a problem which is
b.append('Pandas')
print(new_list)

#The result with solving problem
new_list = b[:]
b.append(67.5)
print('After: {}'.format(new_list))
print(id(new_list),id(b))

['Python', 23, 'ML', 3.675, 'Numpy', 'Numpy', 'Pandas', 'Pandas', 67.5, 'Pandas', 67.5, 'Pandas', 67.5, 'sklearn']
233659390024 233659390024
['Python', 23, 'ML', 3.675, 'Numpy', 'Numpy', 'Pandas', 'Pandas', 67.5, 'Pandas', 67.5, 'Pandas', 67.5, 'sklearn', 'Pandas']
After: ['Python', 23, 'ML', 3.675, 'Numpy', 'Numpy', 'Pandas', 'Pandas', 67.5, 'Pandas', 67.5, 'Pandas', 67.5, 'sklearn', 'Pandas']
233659389384 233659390024

In [130]:
#Make a string to List with spliting word
mailBody= 'Hi, This is Jack Nayem. I am simple learner of python'
List = mailBody.split()
print(List)

['Hi,', 'This', 'is', 'Jack', 'Nayem.', 'I', 'am', 'simple', 'learner', 'of', 'python']

In [134]:
restructureMailBody = ' * '.join(List)
print(restructureMailBody)

Hi, * This * is * Jack * Nayem. * I * am * simple * learner * of * python

In [135]:
List1 = ['Python']
List2= ['Matlab', 'Deep Learning']

addList = List1 + List2
print('Adding List: {}'.format(addList))

Adding List: ['Python', 'Matlab', 'Deep Learning']

In [140]:
NumberList = [1,3,2,5,12,65,2,0]
print(sorted(NumberList))
print('Minimum Number is {}'.format(min(NumberList)))
print('Maximum Number is {}'.format(max(NumberList)))

[0, 1, 2, 2, 3, 5, 12, 65]
Minimum Number is 0
Maximum Number is 65

In [142]:
#Inner List
List = [[1,3,5],[2,4,6],[1,4,7,34],'Pandas']
print(List[1])
print()

[2, 4, 6]

In [148]:
#Define Matrix
List = [[1,9,5],[22,4,6],[1,4,17]]
print('Indexing 1D: {}'.format(List[1]))
print('Indexing 2D: {}'.format(List[1][0]))

Indexing 1D: [22, 4, 6]
Indexing 2D: 22

# Tuples

In [149]:
tuples = ()
type(tuples)

tuple

In [153]:
tuples = ('Python', 'Numpy', 23, 'ML', 3.675)
print(tuples)
print(tuples[0])
print(tuples[0:4])

('Python', 'Numpy', 23, 'ML', 3.675)
Python
('Python', 'Numpy', 23, 'ML')

In [155]:
#Show an error is TypeError: 'tuple' object does not support item assignment
tuples[0] = 'C++'

In [157]:
tuples = 'a','n',3,5.44
print(tuples)
type(tuples)

('a', 'n', 3, 5.44)

tuple

In [159]:
#innder tuples
tuples = 1,3,5,2,4,6,(1,4,7,34),'Pandas'
print(tuples)

(1, 3, 5, 2, 4, 6, (1, 4, 7, 34), 'Pandas')

In [163]:
#Convert Tuple to List and vice versa
List = list(tuples)
print(type(List))
tuples = tuple(List)
print(type(tuples))

<class 'list'>
<class 'tuple'>

# Sets

In [27]:
name = ['Jack','Nayem','Sayem', 'Sajnin','Sinthia','Saju','Jack','Sayem','Sajnin']
name

['Jack',
 'Nayem',
 'Sayem',
 'Sajnin',
 'Sinthia',
 'Saju',
 'Jack',
 'Sayem',
 'Sajnin']

In [28]:
name = set(name)
name

{'Jack', 'Nayem', 'Sajnin', 'Saju', 'Sayem', 'Sinthia'}

In [29]:
name2={'Jack','Nayem','Amena','Ratul','Forrul','Nayem'}
type(name2)

set

In [38]:
#Sets Intersaction
print(name)
print(name2)
result = name.intersection(name2)
print(z)

{'Sayem', 'Jack', 'Nayem', 'Sajnin', 'Saju', 'Sinthia'}
{'Amena', 'Jack', 'Forrul', 'Nayem', 'Ratul'}
<class 'set'>
<class 'set'>
{'Nayem', 'Jack'}

In [40]:
#Set union
print(name)
print(name2)
result = name.union(name2)
print(result)

{'Sayem', 'Jack', 'Nayem', 'Sajnin', 'Saju', 'Sinthia'}
{'Amena', 'Jack', 'Forrul', 'Nayem', 'Ratul'}
{'Sayem', 'Jack', 'Amena', 'Forrul', 'Nayem', 'Sajnin', 'Ratul', 'Saju', 'Sinthia'}

In [42]:
#Set Difference
print(name)
print(name2)
result = name.difference(name2)
print(result)

{'Sayem', 'Jack', 'Nayem', 'Sajnin', 'Saju', 'Sinthia'}
{'Amena', 'Jack', 'Forrul', 'Nayem', 'Ratul'}
{'Sajnin', 'Sayem', 'Sinthia', 'Saju'}

In [43]:
'Nayem' in name

True

In [44]:
'Hasina' in name

False

In [45]:
name.add('Hasina')
print(name)

{'Sayem', 'Jack', 'Nayem', 'Sajnin', 'Hasina', 'Saju', 'Sinthia'}

In [46]:
name.remove('Nayem')
print(name)

{'Sayem', 'Jack', 'Sajnin', 'Hasina', 'Saju', 'Sinthia'}

In [47]:
#Check is subset
name.issubset(name2)

False

# Dictionary

In [61]:
dic = {}
type(dic)

dict

In [62]:
dic = {"Pen":"Kolom",'2+3':5,"Love":"Vaolobasha",'Number':32}
print(dic)

{'Pen': 'Kolom', '2+3': 5, 'Love': 'Vaolobasha', 'Number': 32}

In [63]:
#To see keys or values separately
print('Keys : {}'.format(list(dic.keys())))
print('Values: {}'.format(list(dic.values())))

Keys : ['Pen', '2+3', 'Love', 'Number']
Values: ['Kolom', 5, 'Vaolobasha', 32]

In [64]:
#Changing any value of key
print(dic['Love'])
dic['Love'] = 'Mysterious Impulse'
print(dic['Love'])
print(dic)

Vaolobasha
Mysterious Impulse
{'Pen': 'Kolom', '2+3': 5, 'Love': 'Mysterious Impulse', 'Number': 32}

In [67]:
#Check any value are existed
info = 'Love' in dic
if info:
    print('Existed')
else:
    print('Not Existed')

Existed

In [60]:
#Adding to dictionary
dic['Time'] = '3:40'
print(dic)

{'Pen': 'Kolom', '2+3': 5, 'Love': 'Mysterious Impulse', 'Number': 32, 'Time': '3:40'}

In [68]:
#Delete any Dcitionary
del dic['2+3']
print(dic)

{'Pen': 'Kolom', 'Love': 'Mysterious Impulse', 'Number': 32}

In [72]:
new_dic = {'Animal':'Cow','Bird':'Crow'}
print(new_dic)
#Update or add dcitionary
dic.update(new_dic)
print(dic)
print(new_dic)

{'Animal': 'Cow', 'Bird': 'Crow'}
{'Pen': 'Kolom', 'Love': 'Mysterious Impulse', 'Number': 32, 'Animal': 'Cow', 'Bird': 'Crow'}
{'Animal': 'Cow', 'Bird': 'Crow'}

In [73]:
for key,value in dic.items():
    print(key,' : ',value)

Pen  :  Kolom
Love  :  Mysterious Impulse
Number  :  32
Animal  :  Cow
Bird  :  Crow

# Comprehensions

In [81]:
Square = []
List = [1,2,3,4,5,6,7,8,9]
for x in List:
    Square.append(x**2)
print(Square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [79]:
#Comprehensions are using one for loop
Square = [x**2 for x in List]
print(Square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
paragraph = ['A paragraph is a series of related sentences developing a central idea, called the topic.','Try to think about paragraphs in terms of thematic unity.']
print(paragraph)

['A paragraph is a series of related sentences developing a central idea, called the topic.', 'Try to think about paragraphs in terms of thematic unity.']

In [86]:
word_list = []
for sentence in paragraph:
    for word in sentence.split(" "):
        word_list.append(word)
print(word_list)

['A', 'paragraph', 'is', 'a', 'series', 'of', 'related', 'sentences', 'developing', 'a', 'central', 'idea,', 'called', 'the', 'topic.', 'Try', 'to', 'think', 'about', 'paragraphs', 'in', 'terms', 'of', 'thematic', 'unity.']

In [87]:
#Comprehensions are using inner loop
word_list = [word for sentence in paragraph for word in sentence.split()]
print(word_list)

['A', 'paragraph', 'is', 'a', 'series', 'of', 'related', 'sentences', 'developing', 'a', 'central', 'idea,', 'called', 'the', 'topic.', 'Try', 'to', 'think', 'about', 'paragraphs', 'in', 'terms', 'of', 'thematic', 'unity.']

In [89]:
#Comprehensions are using inner loop and conditonal statement
word_list = [word for sentence in paragraph for word in sentence.split() if len(word) < 3]
print(word_list)

['A', 'is', 'a', 'of', 'a', 'to', 'in', 'of']